html,
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

html {
  height: 100%;
}

header,
footer,
.transformer {
  background-color: #1f2937;
  color: white;
}

.header-collumn-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  padding: 20px;
  text-align: center;
}

footer h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  padding: 0px;
}

.external-links {
  display: flex;
  gap: 25px;
  padding: 25px;
  list-style-type: none;
}

.citetation {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-style: italic;
  font-weight: 50;
  color: #1f2937;
}

.transformer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 36px;
}

.transformer h2 {
  margin: 0 0 10px 0;
  font-size: 28px;
}

.transformer p {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.transformer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.llama-generations {
  display: flex;
  flex-direction: column;
}

.llama-generations-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.llama-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.newsletter-content {
  background-color: #3882f6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 10px;
  gap: 40px;
}

.newsletter-content button {
  border: 2px solid white;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
